* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #e3edf7;
    height: 100vh; /* ทำให้เต็มจอไปเลย */
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.15), /* เงาแนวนอนเลื่อนไปทางขวา, เงาแนวนอนเลื่อนไปด้านล่าง, ความเบลอของเงา, ความกว้างของเงา, สีของเงาและโปร่งแสง */
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7) /* เงาเลื่อนไปทางซ้าย ทำเหมือนด้านบนเลย */
}

.inner { /* ใช้งานได้หลังจากที่ setup .outer แล้ว */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), /* inset = บอกว่าเงาด้านบนจะอยู่ในกล่องของ outer ไม่ออกมาข้างนอก */
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05),
}

#number {
    font-weight: 600px;
    color: #555;
}

circle {
    fill: none; /* ใส่สีให้ object โดย none = ไม่ใส่สี */
    stroke: url(#GradientColor); 
    stroke-width: 20px;
    stroke-dasharray: 472; /* ความยาว = 472px */
    stroke-dashoffset: 472; /* ตัวของเส้นจะถูกเลื่อนออกไป 472px ซึ่งตัวของ svg จะไม่ปรากฎวรรคเลย จะมีความยาวที่เท่ากัน */
    animation: anim 2s linear forwards; /* ใส่ animation ให้กับ circle โดยให้มีชื่อ anim ทำงานเป็นเวลา 2 วินาที ความเร็วแปรผันเป็นเส้นตรง linear และกลับมาหยุดที่ forward */
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim { /* ชื่อเดียวกับ animation ที่ตั้งด้านบน */
    100% {
        stroke-dashoffset: 165; /* ค่าที่เราจะไม่ระบายสี */
    }
    
}